node_modules/
.expo/
dist/
.firebase/
.firebaserc
firebase.json
npm-debug.*
environment.js
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
google-services.json
GoogleService-Info.plist
lib/utils/firebaseConfig.js
lib/utils/googleAuthConfig.js
# macOS
.DS_Store
